<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163555474751-1vcf4rh74f0e27uecljgs3c45s2hkj7j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163555474751-1vcf4rh74f0e27uecljgs3c45s2hkj7j</string>
	<key>API_KEY</key>
	<string>AIzaSyAcl1vrtsR_DMdPezovyfFsIVI34R8435U</string>
	<key>GCM_SENDER_ID</key>
	<string>163555474751</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.qrCode</string>
	<key>PROJECT_ID</key>
	<string>qrcodevio</string>
	<key>STORAGE_BUCKET</key>
	<string>qrcodevio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163555474751:ios:aecd0fb76bd5955876a78a</string>
</dict>
</plist>